body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(225, 224, 223);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  line-height: 2;
  margin-bottom: 80px;
}

.title {
  text-align: center;
}

.email {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.email:hover {
  color: #4d4a4a;
}

.license {
  color: red;
  font-weight: 200;
}
